@model Gob.Web.Models.ProductDto

@{
    ViewBag.Title = "Delete Product";
}

<form method="post">
    <input type="hidden" asp-for="@Model.ProductId"/>
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Delete Product</h1>
        <hr />
        <div class="row">
            <div class="col-2">
                <label asp-for="@Model.Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="@Model.Name" class="form-control" disabled/>
            </div>
            <div class="col-2">
                <label asp-for="@Model.CategoryName" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="@Model.CategoryName" class="form-control" disabled/>
            </div>
            <div class="col-2">
                <label asp-for="@Model.Description" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="@Model.Description" class="form-control" rows="5" disabled></textarea>
            </div>
            <div class="col-2">
                <label asp-for="@Model.ImageUrl" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="@Model.ImageUrl" class="form-control" disabled/>
            </div>
            <div class="col-2">
                <label asp-for="@Model.Price" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="@Model.Price" class="form-control" disabled/>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="Index" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </div>
        </div>
    </div>
</form>