@model Gob.Web.Models.ProductDto

@{
    ViewBag.Title = "Manage Product";
}

<form method="post">
    <input type="hidden" asp-for="@Model.ProductId"/>
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">@(Model.ProductId == 0 ? "Create" : "Edit") Product</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="@Model.Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="@Model.CategoryName" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="@Model.CategoryName" class="form-control" />
                <span asp-validation-for="@Model.CategoryName" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="@Model.Description" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="@Model.Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="@Model.ImageUrl" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="@Model.ImageUrl" class="form-control" />
                <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="@Model.Price" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="@Model.Price" class="form-control" />
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="Index" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="@(Model.ProductId == 0 ? "Create" : "Edit")" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}